# 編譯輸出文件
/build/
*.o
*.a
*.out
*.exe
app

# 編譯器生成文件
*.log
*.tmp

# IDE 文件
.vscode/
.idea/

# CMake 文件
CMakeFiles/
CMakeCache.txt
# Makefile
cmake_install.cmake

# Tree plugin
tree.txt

# histroty CMake
history/Samuel_try/build/
